## PARAMETERS to reach the SOURCE DTR
export SRC_UCP_URL=
export SRC_DTR_URL=
export SRC_DTR_USER=
export SRC_DTR_PASSWORD=

## PARAMETERS to reach the DESTINATION DTR
export DST_UCP_URL
export DST_DTR_URL=
export DST_DTR_USER=
export DST_DTR_PASSWORD=
